#Replace the values with your own and remove .example, so .env can be used by Docker Compose
MARIADB_ROOT_PASSWORD=your_root_user_secret_password
MARIADB_API_USER=your_user_trough_which_the_api_uses_mariadb
MARIADB_API_PASSWORD=choose_a_password_for_the_api_user
SEAWAVE_SERVER_CERTIFICATE=name_of_your_certificate_file
SEAWAVE_SERVER_PRIVATE_KEY=name_of_your_private_key_file